<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Android | Home</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <nav>
            <h3>Android | Discord Bot</h3>
            <p>Page for the details about each commands</p>
        </nav>

        <div class="dropdown">
            <h3 class="dropdown-title">hey</h3>

            <div class="dropdown-content">
                <p class="snippet">
                    Description: say hai command<br />
                    Aliases: hey<br />
                    Example: <%= process.env.PREFIX %>hey
                </p>
            </div>
        </div>
        
        <div class="dropdown">
            <h3 class="dropdown-title">help</h3>

            <div class="dropdown-content">
                <p class="snippet">
                    Description: list of all available commands<br />
                    Aliases: h<br />
                    Example: <%= process.env.PREFIX %>help
                </p>
            </div>
        </div>
        
        <div class="dropdown">
            <h3 class="dropdown-title">play</h3>

            <div class="dropdown-content">
                <p class="snippet">
                    Description: play music from youtube<br />
                    Aliases: p<br />
                    Example: <%= process.env.PREFIX %>play lofi<br />
                    Example: <%= process.env.PREFIX %>play https://www.youtube.com/watch?v=dQw4w9WgXcQ
                </p>
            </div>
        </div>
    </body>
</html>
